.card {
  width: 400px;
  margin-bottom: 8px;
}

.title-header {
  margin-bottom: 2rem;
}

.provider-info {
  display: flex;
  justify-content: space-between;
}

.view-more {
  color: #005fb2;
  font-weight: bold;
  padding-top: 9px;
  cursor: pointer;
}
